<div class="container-fluid">
  <div class="row  pl-3">
    <div class="col-12 pt-4 pb-3">
      <div class="row">
        <div class="col-7">
          <p class="small-header">VEHICLES</p>
          <h4>All vehicles</h4>
        </div>
        <div class="col-5 align-bottom">
          <button mat-flat-button color="primary" class="float-right align-bottom" (click)="openDialog()">Add
            vehicle</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5">
      <app-vehicles-list></app-vehicles-list>
    </div>
  </div>
</div>
