// .login-box {
//   border-radius: 8px !important;
//   .header {
//     background: #3f51b5;
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
//     color: white;
//     text-align: center;
//   }
// }

@for $i from 1 to 6 {
  h#{$i} {
    color: #108c42;
    font-weight: 900;
    font-size: 34px;
  }
}
